.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 10%;
  background-color: #202020;
  color: #94fdfd;
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact {
  display: flex;
}

.contact a {
  text-decoration: none;
  color: #94fdfd;
}

.logo {
  font-size: 2.5rem;
  color: white;
  font-family: "Fira", sans-serif;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #94fdfd;
}

.copyright {
  display: flex;
}

.logo a {
  text-decoration: none;
  color: #94fdfd;
}

@media (max-width: 768px) {
  .container {
    margin: auto;
    flex-direction: column;
    width: 60%;
  }

  .contact,
  .logo,
  .copyright {
    margin: 0.5rem 0;
    width: 90%;
    justify-content: flex-start;
  }
}
